<div class="alert alert-info align-center" role="alert">
<h3>A simple account management demo</h3>
</div>
<div class="list-group">
    <div class="list-group-item">
        <div class="alert alert-secondary">
            To create a new account go to <strong>Register Account</strong><br />
            Enter <strong>Name</strong> and <strong>Email</strong> - a confirmation email will be sent
        </div>
    </div>
    <div class="list-group-item">
        <img class="rounded img-fluid img-thumbnail" [src]="register_account" />
    </div>
    <div class="list-group-item">
        <div class="alert alert-secondary">
            Open the confirmation email and click the link - a registration web form will be opened
        </div>
    </div>
    <div class="list-group-item">
        <img class="rounded img-fluid img-thumbnail" [src]="confirmation_email" />
    </div>
    <div class="list-group-item">
    <div class="alert alert-secondary">
        Confirm registration by entering your new <strong>Password</strong> (and optionally change the given account name).
        </div>
    </div>
    <div class="list-group-item">
        <img class="rounded img-fluid img-thumbnail" [src]="confirmation_form" />
    </div>
    <div class="list-group-item">
        <div class="alert alert-secondary">
            Finally, a welcome email will be sent.<br />
            </div>
        </div>
    <div class="list-group-item">
        <img class="rounded img-fluid img-thumbnail" [src]="welcome_email" />
    </div>
    </div>
